@mixin for-tablet-up {
  @media screen and (max-width: 1439px) {
    @content;
  }
}
@mixin for-small-tablet {
  @media screen and (max-width: 1280px) {
    @content;
  }
}
@mixin for-mobile-up {
  @media screen and (max-width: 767px) {
    @content;
  }
}

.accordion {
  position: absolute;
  width: 604px;
  height: 552px;
  background: var(--primary-white);
  z-index: 2;

  &_open {
    height: 1054px;
  }

  &_dark {
    background: var(--primary-black);
  }

  @include for-tablet-up {
    width: 100%;
    height: auto;
    background: none;
  }

  &__authorInfo {
    @include for-tablet-up {
      /* primary/white */
      background: #ffffff;
      min-width: 560px;
      width: 72.9166667%;
      height: 119px;
      top: -158px;
      position: absolute;
      z-index: 1;
      transition: 0.6s;

      &_dark {
        /* primary/black */
        background: #121212;
      }
    }
    @include for-small-tablet {
      /*  max-width: 560px; */
    }

    @include for-mobile-up {
      width: 100%;
      min-width: 300px;
      top: -138px;
    }
  }

  &__lifeInformation {
    /* display: flex;
    justify-content: space-between; */
    font-family: "Cormorant SC";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 60px 80px 0 80px !important;
    color: var(--primary-dark-gray);

    &_dark {
      color: var(--secondary-gray);
    }

    @include for-tablet-up {
      padding: 0 !important;
      top: 20px;
      width: 100vw;
      gap: 174px;
      position: relative;
    }
    /* @include for-small-tablet{
      margin: 0 20px 0 20px !important; 
    } */
    /* @include for-tablet-up {
      margin: 0 20px 0 20px !important;
      justify-content: start;
      padding: 0 !important;
      top: 20px;
      gap: 174px;
      position: absolute;
    } */
  }

  &__nameContainer {
    font-family: "Cormorant SC";
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 73px;
    width: 100%;
    border-left: 2px solid var(--accent-red);
    color: var(--accent-red);

    &_dark {
      border-color: var(--accent-gold);
      color: var(--accent-gold);
    }

    @include for-tablet-up {
      width: calc(100vw - 2px);
      bottom: 20px;
      position: absolute;
      font-size: 48px;
      line-height: 100%;
    }
    @include for-mobile-up {
      top: 43px;
      bottom: 43px;
      border: none;
    }
  }

  &__name {
    font-size: 60px;
    line-height: 73px;
    margin: 32px 80px 32px 80px !important;

    @include for-tablet-up {
      max-width: 1240px;
      margin: 0 auto !important;
      font-size: 48px;
      line-height: 100%;
    }
    @include for-small-tablet {
      margin: 0 20px 0 20px !important;
    }
    @include for-mobile-up {
      font-weight: 600;
      font-size: 32px;
      line-height: 100%;
    }
  }

  &__dividingLine {
    border-bottom: 2px solid var(--primary-dark-gray);
    width: 30px;
    margin-left: 80px !important;

    &_dark {
      border-color: var(--primary-light-gray);
    }

    @include for-tablet-up {
      display: none;
    }
  }

  &__description {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    margin: 0 80px 0 80px !important;
    color: var(--primary-dark-gray);

    &_dark {
      color: var(--primary-light-gray);
    }

    @include for-tablet-up {
      margin: 0 auto 0 auto !important;
      max-width: 1240px;
    }
    @include for-small-tablet {
      margin: 0 20px 0 20px !important;
    }
  }

  &__descriptionText {
    margin: 20px 0 20px 0 !important;

    @include for-tablet-up {
      margin: 40px 0 20px 0 !important;
    }
    @include for-mobile-up {
      margin: 20px 0 20px 0 !important;
    }
  }

  &__genresList {
    display: flex;
    flex-wrap: wrap;
    margin: 32px 80px 0 80px !important;

    @include for-tablet-up {
      margin: 20px auto 0 auto !important;
      max-width: 1240px;
    }
    @include for-small-tablet {
      margin: 20px 20px 0 20px !important;
    }
  }

  &__button {
    max-width: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  &__button:hover .arrow {
    fill: var(--primary-black);

    &_dark {
      fill: var(--primary-white);
    }
  }
  &__button:hover .button {
    color: var(--primary-black);

    &_dark {
      color: var(--primary-white);
    }
  }
  &__auxiliary {
    margin: 0 auto !important;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;

    @include for-tablet-up {
      justify-content: space-between;
      margin: 0 auto !important;
      /* gap: 174px; */
    }
    @include for-small-tablet {
      justify-content: space-between;
      margin: 0 calc(27.0833333% + 20px) 0 20px !important;
      /*   margin: 0 20px 0 20px !important; */
    }
    @include for-mobile-up {
      font-size: 12px;
      line-height: 15px;
      flex-direction: column;
      gap: 48px;
    }
  }

  &__country {
    @include for-tablet-up {
      margin: 0 calc(27% + 15px) 0 0 !important;
    }
    @include for-small-tablet {
      margin: 0 !important;
    }
  }

  @include for-tablet-up {
    position: relative;
  }
}
