@mixin for-tablet-up {
  @media screen and (max-width: 1439px) {
    @content;
  }
}

.editAuthor {
  display: none;

  &_open {
    height: 100vh;
    width: 100vw;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(3, 3, 3, 0.3);
    z-index: 10;
  }

  &_dark {
    background: rgba(3, 3, 3, 0.6);
  }

  &__content {
    width: 800px;
    height: 876px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;

    @include for-tablet-up {
      width: 100%;
      height: 100%;
    }
  }
}
