.checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  cursor: pointer;
  padding: 9px 0 9px 16px !important;

  &__input {
    position: absolute;
    opacity: 0;
  }
  &__fake {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    box-sizing: border-box;
    background: var(--secondary-white);
    border: 1px solid var(--primary-light-gray);
    border-radius: 4px;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 18px;
      height: 14px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      box-sizing: border-box;
      background: url(../../assets/img/checkboxVector.svg) no-repeat;
    }
    &_dark {
      border: none;
      background: var(--primary-black);
      &::before {
        background: url(../../assets/img/darkCheckbox.svg) no-repeat;
      }
    }
  }
  &__input:checked + &__fake::before {
    opacity: 1;
    background-size: 100%;
  }

  &__text {
    /* Paragraph base/light 16 */
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    /* primary/dark gray */
    color: #575757;

    &_dark {
      /* primary/light gray */
      color: #dedede;
    }
  }
}
