@mixin for-mobile-up {
  @media screen and (max-width: 767px) {
    @content;
  }
}

.buttonPictoral {
  /* secondary/white */
  background: #fcfcfc;
  border-radius: 4px;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;

  /* primary/dark gray */
  fill: #575757;

  &:hover {
    /* primary/black */
    fill: #121212;
  }

  &_dark {
    /* secondary/black */
    background: #1a1818;
    /* primary/light gray */
    fill: #dedede;

    &:hover {
      /* primary/white */
      fill: #ffffff;
    }
  }

  @include for-mobile-up {
    background: rgba(#fcfcfc, 0.1);
    fill: #dedede;

    &:hover {
      /* primary/white */
      fill: #ffffff;
    }

    &_dark {
      background: rgba(#1a1818, 0.1);
      fill: #dedede;
    }
  }
}
