@mixin for-mobile-up {
  @media screen and (max-width: 767px) {
    @content;
  }
}

.input-wrapper {
  &__input {
    width: 340px;
    height: 46px;
    outline: none;
    box-sizing: border-box;
    padding: 0 0 0 16px !important;
    background: var(--primary-white);
    border: 1px solid var(--primary-light-gray);
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: var(--primary-dark-gray);
    cursor: pointer;

    @include for-mobile-up {
      width: 260px;
    }

    &::placeholder {
      font-family: "Inter";
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      color: var(--secondary-gray);
    }

    &:hover {
      border-color: var(--secondary-gray);
    }

    &:focus {
      border-color: var(--primary-dark-gray);
    }

    &_error {
      border-color: var(--accent-error);

      &:hover {
        border-color: var(--accent-error);
      }

      &:focus {
        border-color: var(--accent-error);
      }
    }

    &_dark {
      background: var(--secondary-black);
      border-radius: 4px;
      border: 1px solid var(--secondary-black);
      color: var(--primary-light-gray);

      &:hover {
        border: 1px solid var(--primary-dark-gray);
      }
      &:focus {
        border: 1px solid var(--primary-light-gray);
      }
      &_error {
        border: 1px solid var(--accent-error);
        &:hover {
          border: 1px solid var(--accent-error);
        }
        &:focus {
          border: 1px solid var(--accent-error);
        }
      }
    }
  }

  &__title {
    /* Input/bold 12 */
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    /* primary/dark gray */
    color: #575757;
    margin: 0 0 8px 0 !important;

    &_dark {
      /* primary/white */
      color: #ffffff;
    }
  }

  &__error {
    margin-top: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    color: var(--accent-error);
  }

  &__inputAddEditPainting {
    width: 105px;

    @include for-mobile-up {
      width: 260px;
    }
  }
}
