.button {
  width: 200px;
  height: 47px;
  background: #121212;
  border-radius: 30px;
  border: 0px;

  &:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  &:focus {
    background: #232323;
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  //Заменить переменными
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;
  /* primary/white */
  color: #ffffff;

  &_dark {
    /* accent/gold */
    background: #ab8956;
    &:hover {
      box-shadow: 0px 4px 10px rgba(171, 137, 86, 0.25);
    }
    &:focus {
      background: #ba9052;
    }
  }

  &_outlined {
    background: none;
    /* primary/dark gray */
    text-decoration: underline;
    color: #575757;

    &:hover {
      /* primary/black */
      color: #121212;
      box-shadow: none;
    }
    &:focus {
      /* primary/black */
      color: #121212;
      background: none;
    }
    &:disabled {
      /* primary/light gray */
      color: #dedede;
    }

    &_dark {
      /* primary/light gray */
      color: #dedede;
      &:hover {
        /* primary/white */
        color: #ffffff;
      }
      &:focus {
        /* primary/white */
        color: #ffffff;
      }
      &:disabled {
        /* secondary/gray */
        color: #9c9c9c;
      }
    }
  }
}
