.button {
  @mixin for-mobile-up {
    @media screen and (max-width: 767px) {
      @content;
    }
  }
  
  width: 200px;
  height: 47px;
  background: var(--primary-black);
  border-radius: 30px;
  border: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--primary-white);
  cursor: pointer;

  &:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  &:focus {
    background: #232323;
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &_dark {
    background: var(--accent-gold);
    &:hover {
      box-shadow: 0px 4px 10px rgba(171, 137, 86, 0.25);
    }
    &:focus {
      background: #ba9052;
    }
  }
  &_outlined {
    width: auto;
    height: auto;
    background: none;
    text-decoration: underline;
    color: var(--primary-dark-gray);

    &:hover {
      color: var(--primary-black);
      box-shadow: none;
    }
    &:focus {
      color: var(--primary-black);
      background: none;
    }
    &:disabled {
      color: var(--primary-light-gray);
    }
    &_dark {
      color: var(--primary-light-gray);
      &:hover {
        color: var(--primary-white);
      }
      &:focus {
        color: var(--primary-white);
      }
      &:disabled {
        color: var(--secondary-gray);
      }
    }
  }

  &_noUnderline {
    text-decoration: none;
  }
  &_medium {
    font-size: 16px;
    line-height: 20px;
  }
  &_large {
    font-size: 60px;
    line-height: 73px;

    @include for-mobile-up {
      font-size: 32px;
      line-height: 100%;
    }
  }
}
