.button {
  @mixin for-mobile-up {
    @media screen and (max-width: 767px) {
      @content;
    }
  }

  width: 200px;
  height: 47px;
  background: var(--primary-black);
  border-radius: 30px;
  border: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--primary-white);
  cursor: pointer;

  &:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  &:focus {
    background: #232323;
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &_dark {
    background: var(--accent-gold);
    &:hover {
      box-shadow: 0px 4px 10px rgba(171, 137, 86, 0.25);
    }
    &:focus {
      background: #ba9052;
    }
  }
  &_outlined {
    border-radius: 0;
    max-height: 20px;
    height: 100%;
    width: auto;
    background: none;
    border-bottom: 1px solid var(--primary-dark-gray);
    color: var(--primary-dark-gray);

    &:hover {
      color: var(--primary-black);
      box-shadow: none;
    }
    &:focus {
      color: var(--primary-black);
      background: none;
    }
    &:disabled {
      color: var(--primary-light-gray);
    }
    &_dark {
      color: var(--primary-light-gray);
      border-color: var(--primary-light-gray);
      &:hover {
        color: var(--primary-white);
        border-color: var(--primary-white);
      }
      &:focus {
        color: var(--primary-white);
        border-color: var(--primary-white);
      }
      &:disabled {
        color: var(--secondary-gray);
        border-color: var(--secondary-gray);
      }
    }
  }

  &_medium {
    font-size: 16px;
    line-height: 20px;
  }
  &_large {
    font-size: 60px;
    line-height: 73px;

    @include for-mobile-up {
      font-size: 32px;
      line-height: 100%;
    }
  }

  &__auth {
    /* Paragraph base/light 16 */
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    display: flex;
    align-items: center;
    text-align: center;
    /* primary/dark gray */
    color: #575757;
    text-transform: none;
    max-height: 20px;
    align-self: end;

    &:hover {
      /* primary/black */
      color: #121212;
    }
    &:focus {
      /* primary/black */
      color: #121212;
    }

    &_dark {
      /* primary/white */
      color: #ffffff;

      &:hover {
        /* primary/white */
        color: #ffffff;
      }
      &:focus {
        /* primary/white */
        color: #ffffff;
      }
    }
  }

  &__pictoral {
    width: 28px;
    height: 28px;
    /* secondary/white */
    background: #fcfcfc;
    border-radius: 4px;
    /* primary/dark gray */
    fill: #575757;
    &:hover {
      background: #fcfcfc;
      box-shadow: none;
      fill: #121212;
    }
    &:focus {
      background: #fcfcfc;
      fill: #121212;
    }

    &_dark {
      /* secondary/black */
      background: #1a1818;
      /* primary/light gray */
      fill: #dedede;

      &:hover {
        background: #1a1818;
        box-shadow: none;
        /* primary/white */
        fill: #ffffff;
      }
      &:focus {
        background: #1a1818;
        /* primary/white */
        fill: #ffffff;
      }
    }
  }
}
