.themeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: var(--secondary-white);
  border-radius: 50%;
  cursor: pointer;
  fill: var(--primary-dark-gray);

  &:hover {
    fill: var(--primary-black);
  }

  &_dark {
    background: var(--secondary-black);
    fill: var(--primary-light-gray);

    &:hover {
      fill: var(--primary-white);
    }
  }
}
