.card {
  @mixin for-tablet-up {
    @media screen and (max-width: 1439px) {
      @content;
    }
  }
  @mixin for-mobile-up {
    @media screen and (max-width: 767px) {
      @content;
    }
  }

  &__painting {
    width: 392px;
    height: 260px;
    transition: all ease-out 0.5s;

    &:hover {
      transform: scale(1.2);
    }
    @include for-tablet-up {
      height: auto;
      width: 100%;
      aspect-ratio: 352/220;
    }
    @include for-mobile-up {
      aspect-ratio: 280/185;
    }
  }

  &__curtain {
    z-index: 1;
    display: flex;
    gap: 20px;
    align-items: center;
    position: absolute;
    bottom: 0px;
    width: 300px;
    height: 82px;
    background: var(--primary-white);
    animation-fill-mode: none, backwards;

    &:hover + .card__painting {
      transform: scale(1.2);
    }
    &_dark {
      background: var(--primary-black);
    }

    @include for-tablet-up {
      height: 30%;
      width: 85.22727272727273%;
      aspect-ratio: 300/66;
    }
    @include for-mobile-up {
      height: 24.32432432432432%;
      width: 84.28571428571429%;
    }
  }

  &__band {
    border-left: 2px solid var(--accent-red);
    height: 42px;
    display: block;
    &_dark {
      border-color: var(--accent-gold);
    }
    @include for-tablet-up {
      display: none;
    }
  }
  &__name {
    font-family: "Cormorant SC";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--primary-black);

    &_dark {
      color: var(--primary-white);
    }
    @include for-tablet-up {
      margin: 0 0 0 12px;
    }
    @include for-mobile-up {
      font-size: 12px;
      line-height: 15px;
    }
  }
  &__year {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: var(--accent-red);

    &_dark {
      color: var(--accent-gold);
    }

    @include for-tablet-up {
      margin: 0 0 0 12px;
    }
    @include for-mobile-up {
      font-size: 8px;
      line-height: 10px;
    }
  }
  &__rectangle {
    display: none;
    background: var(--accent-red);
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    width: 24px;
    aspect-ratio: 24/66;
    right: -53px;

    &_dark {
      background: var(--accent-gold);
    }
    @include for-tablet-up {
      display: flex;
      position: absolute;
      right: -8%;
      width: 8%;
      height: 100%;
      aspect-ratio: 24/66;
    }
    @include for-mobile-up {
      right: -10%;
      width: 10%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @include for-tablet-up {
      margin-left: 12px !important;
    }
  }
}
