@mixin for-tablet-up {
  @media screen and (max-width: 1439px) {
    @content;
  }
}
@mixin for-small-tablet {
  @media screen and (max-width: 1280px) {
    @content;
  }
}
@mixin for-mobile-up {
  @media screen and (max-width: 767px) {
    @content;
  }
}

.authorContent {
  &__artworksWrapper {
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto 60px auto !important;

    @include for-small-tablet {
      margin: 0 20px 0 20px !important;
    }

    &_auth{
      margin: 0 auto 20px auto !important;
    }
  }

  &__artworks {
    /* Heading/H1 medium 60 */
    font-family: "Cormorant SC";
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 73px;
    /* identical to box height */
    /* accent/red */
    color: #9b4b4b;
    margin: 160px 0 0 80px !important;

    @include for-tablet-up {
      margin: 98px 0 0 0 !important;
    }
    @include for-small-tablet {
      margin: 98px 0 60px 0 !important;
    }
    @include for-mobile-up {
      margin: 60px 0 60px 0 !important;
    }

    &_dark {
      /* Heading/H1 medium 60 */
      font-family: "Cormorant SC";
      font-style: normal;
      font-weight: 500;
      font-size: 60px;
      line-height: 73px;
      /* identical to box height */
      /* accent/gold */
      color: #ab8956;
    }
  }

  &__addPicture {
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 118px;
    max-height: 24px;
    align-self: flex-end;
    cursor: pointer;
  }

  &__plusIcon {
    display: flex;
    /* primary/dark gray */
    fill: #575757;
    &_dark {
      /* primary/light gray */
      fill: #dedede;
    }
  }

  &__addPicture:hover &__plusIcon {
    /* primary/black */
    fill: #121212;
    &_dark {
      /* primary/white */
      fill: #ffffff;
    }
  }

  &__addPicture:hover .button {
    color: var(--primary-black);
    &_dark {
      color: var(--primary-white);
    }
  }
}
