@mixin for-tablet-up {
  @media screen and (max-width: 1439px) {
    @content;
  }
}
@mixin for-small-tablet {
  @media screen and (max-width: 1280px) {
    @content;
  }
}
@mixin for-mobile-up {
  @media screen and (max-width: 767px) {
    @content;
  }
}

.author {
  position: relative;
  max-width: 1240px;
  margin: 0 auto !important;

  @include for-tablet-up {
    margin: 0 !important;
    max-width: none;
  }

  &__buttonWraper {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    max-height: 24px;
    margin: 56px 0 28px 0 !important;

    @include for-tablet-up {
      margin: 56px auto 28px auto !important;
      max-width: 1240px;
    }
    @include for-small-tablet {
      margin: 56px 20px 28px 20px !important;
      max-width: 1240px;
    }
  }

  &__backButton {
    display: flex;
    align-items: center;
  }

  &__buttons {
    display: none;

    &_guest {
      display: flex;
      gap: 20px;
    }
  }

  &__arrow {
    margin: 0 16px 0 0 !important;
  }

  &__accordionWrapper {
    position: absolute;
    top: 107px;

    @include for-tablet-up {
      position: relative;
      top: 0px;
    }
  }

  &__img {
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 1000px;
    object-fit: cover;
    margin: 0 0 0 340px !important;
    display: block;

    @include for-tablet-up {
      margin: 0 !important;
      width: 100vw;
      height: auto;
      position: relative;
      object-fit: cover;
      aspect-ratio: 768/500;
    }
    @include for-mobile-up {
      aspect-ratio: 320/452;
    }
  }

  &__imgContainer {
    position: relative;
    overflow: hidden;
  }
}
