@mixin for-tablet-up {
  @media screen and (max-width: 1439px) {
    @content;
  }
}
@mixin for-min-tablet {
  @media screen and (max-width: 1027px) {
    @content;
  }
}
@mixin for-mobile-up {
  @media screen and (max-width: 767px) {
    @content;
  }
}

.editPainting {
  display: none;

  &_open {
    height: 100vh;
    width: 100vw;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(3, 3, 3, 0.3);
    z-index: 10;
  }

  &_dark {
    background: rgba(3, 3, 3, 0.6);
  }

  &__content {
    width: 693px;
    height: 723px;
    /* secondary/white */
    background: #fcfcfc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_dark {
      /* primary/black */
      background: #121212;
    }

    @include for-mobile-up {
      width: 100%;
      height: 100%;
    }
  }

  &__inputs {
    display: flex;
    margin: 80px 100px 60px 100px;
    width: calc(100% - 200px);
    justify-content: space-between;

    @include for-mobile-up {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}
